<mat-nav-list>
    <div class="profile-card">
        <div class="header">
          <h2>{{ 'ERWEITERTE FILTER' }}</h2>
        </div>
    </div>

    <div class="filter-form">
    <mat-form-field class="filter-full-width">
      <mat-label>NAME</mat-label>
      <input matInput type="text" [(ngModel)]="name">
      <button mat-button *ngIf="name" matSuffix mat-icon-button aria-label="Clear" (click)="name=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field class="filter-full-width">
      <mat-label>BESCHREIBUNG</mat-label>
      <input matInput type="text" [(ngModel)]="description">
      <button mat-button *ngIf="description" matSuffix mat-icon-button aria-label="Clear" (click)="description=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field class="filter-full-width">
      <mat-label>TYP</mat-label>
      <input matInput type="text" [(ngModel)]="type">
      <button mat-button *ngIf="type" matSuffix mat-icon-button aria-label="Clear" (click)="type=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field class="filter-full-width">
      <mat-label>SETTING</mat-label>
      <input matInput type="text" [(ngModel)]="setting">
      <button mat-button *ngIf="setting" matSuffix mat-icon-button aria-label="Clear" (click)="setting=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field class="filter-full-width">
      <mat-label>KULTUR</mat-label>
      <input matInput type="text" [(ngModel)]="cultur">
      <button mat-button *ngIf="cultur" matSuffix mat-icon-button aria-label="Clear" (click)="cultur=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field class="filter-full-width">
      <mat-label>ATMOSPHÄRE</mat-label>
      <input matInput type="text" [(ngModel)]="atmosphere">
      <button mat-button *ngIf="atmosphere" matSuffix mat-icon-button aria-label="Clear" (click)="atmosphere=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

  </div>

  <div class="filter-form">
    <button class="filter-full-width" mat-raised-button color="primary"> ANWENDEN </button>
    <button class="filter-full-width" mat-raised-button color="warn">FILTER LÖSCHEN</button>
  </div>

  


  
   
  
  </mat-nav-list>
  
