<mat-nav-list>
    <div class="filter-form">
      <span>NAME</span>
      <div class="filter-full-width">
        <input name="name" type="text" [(ngModel)]="name">
      </div>
    </div>

    <div class="filter-form">
      <span>BESCHREIBUNG</span>
      <div class="filter-full-width">
        <input name="description" type="text" [(ngModel)]="description">
      </div>
    </div>

    <div class="filter-form">
      <span>TYP</span>
      <div class="filter-full-width">
        <input name="type" type="text" [(ngModel)]="type">
      </div>
    </div>

    <div class="filter-form">
      <span>SETTING</span>
      <div class="filter-full-width">
        <input name="setting" type="text" [(ngModel)]="setting">
      </div>
    </div>

    <div class="filter-form">
      <span>KULTUR</span>
      <div class="filter-full-width">
        <input name="cultur" type="text" [(ngModel)]="cultur">
      </div>
    </div>

    <div class="filter-form">
      <span>ATMOSPHÄRE</span>
      <div class="filter-full-width">
        <input name="atmosphere" type="text" [(ngModel)]="atmosphere">
      </div>
    </div>

  <div class="filter-form">
    <button id="anwenden"  > FILTER ANWENDEN </button>
    <button id="reset" >RESET FILTER</button>
  </div>
  
  </mat-nav-list>
  
