<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="toggleSidebar()">
        <mat-icon>menu</mat-icon>
      </button>
  
      <span> Pen & Paper Webhelper</span>
  
      <span class="spacer"></span>
      <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
        <ul fxLayout="row" fxLayoutGap="20px">
  
          <a mat-button routerLink="/home">Home</a>
          <a mat-button routerLink="/services">Services</a>
          <a mat-button routerLink="/projects">Projects</a>
          <a mat-button routerLink="/aboutus">About Us</a>
  
        </ul>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>