<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="toggleSidebar()">
        <mat-icon>menu</mat-icon>
      </button>
  
      <span> Pen & Paper Webhelper</span>
  
      <span class="spacer"></span>
    

      <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
        <ul fxLayout="row" fxLayoutGap="20px">
  
          <a *ngIf="!this.isLoggedIn()" mat-button routerLink="/auth">Anmelden</a>
          
          <app-user-menu *ngIf="this.isLoggedIn()" ></app-user-menu>
        </ul>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>