/*Brand*/

$primary : #03CCB4;
$secondary: #0B8181;

/*Greyscale*/

$almostBlack : #606867;
$greyDark: #A0A7A6;
$greyMedium: #CED2D2;
$greyLight: #E9ECEC;
$almostWhite: #F4F6F6;
$white: #FFFFFF;

/*System*/

$success: #87DB44;
$warning: #FFBF44;
$error: #F86C7D;

/*Transparent*/

$almostBlackTrans: rgba(68, 70, 78, 0.95);

// Padding margin sizing

$cube: 1rem;
#contain{
    max-width:100%;
    max-height:100%;
}
.field {
    margin: $cube*0.5;
    border-radius:4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
    padding: $cube;
    background-color: $greyMedium;
    flex-grow: 1;
    //display: flex;
    //justify-content: flex-start;
    //align-items: stretch;
}
.search-result {
    margin-bottom: 2%;
    margin-left: 2%;
    width: 98%;
    background-color: $almostBlack;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: stretch;
    height: $cube*10;
    cursor: grab;
}
#object-image{
    background-color: transparent;
    padding: 0%;
    max-width: 10%;
}
#container1{
    margin: $cube*0.5;
    display: block;
    flex-grow: 0;
    width: $cube*50;
}
#name
{
    height: 20px;
    color: $almostWhite;
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
}

#date{
    height: 20px;
    color: $almostWhite;
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
}
#description{
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    height: auto;
}
#star-ranking{
    width: $cube*10;
    flex-grow: 0;
}