
<div class="search-result">
    <div class="field" id="object-image"><img id="contain" [src]="this.item?.image || '../../assets/img/dummy.jpg'" alt=""></div>
    <div class="field" id="star-ranking">{{item.rating}}</div>
    <div id="container1">
        <div id="name">{{ item.name }}</div>
        <div id="date">Letzte Änderung</div>
        <div class="field" id="description">Beschreibung</div>
    </div>
    <div class="field" id="object-typ">{{ item.object_type }}</div>
    <div class="field" id="object-setting">Setting</div>
    <div class="field" id="object-culture">Kultur</div>
    <div class="field" id="object-atmosphere">Atmosphäre</div>
</div>
