

/*Brand*/

$primary : #03CCB4;
$secondary: #0B8181;

/*Greyscale*/

$almostBlack : #606867;
$greyDark: #A0A7A6;
$greyMedium: #CED2D2;
$greyLight: #E9ECEC;
$almostWhite: #F4F6F6;
$white: #FFFFFF;

/*System*/

$success: #87DB44;
$warning: #FFBF44;
$error: #F86C7D;

/*Transparent*/

$almostBlackTrans: rgba(68, 70, 78, 0.95);

// Padding margin sizing

$cube: 1rem;
