
mat-card {
    margin-bottom: 5px;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  .tender {
    margin: 20px;
  }
  
  .input-form {
    margin: 50px;
  }
  
  .full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }
  
  
  header-image {
    background-size: cover;
  }
  
  .avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
  
  
  .mat-card-content {
    margin-top: 2%;
  }
  
  .mat-card {
      margin-top: 5px;
  }
  